div.izvelne ul.izvelne 
{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div.izvelne a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #345;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

div.izvelne a:hover 
{
    background-color: #187;
}

div.izvelne li 
{
    display: inline;
}